<?xml version="1.0" encoding="utf-8"?>
<manifest android:sharedUserId="android.uid.system" android:versionCode="15" android:versionName="4.0.3-ZSLPG" package="com.android.OriginalSettings" coreApp="true"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="15" />
    <original-package android:name="com.android.settings" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.HARDWARE_TEST" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.MASTER_CLEAR" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIMAX_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIMAX_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CLEAR_APP_USER_DATA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_CHECKIN_PROPERTIES" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.FORCE_STOP_PACKAGES" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOVE_PACKAGE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.BACKUP" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.STATUS_BAR" />
    <uses-permission android:name="android.permission.MANAGE_USB" />
    <uses-permission android:name="android.permission.SET_POINTER_SPEED" />
    <application android:theme="@miui:style/Theme.Light" android:label="@string/settings_label" android:icon="@mipmap/ic_launcher_settings" android:taskAffinity="" android:hardwareAccelerated="true" android:uiOptions="splitActionBarWhenNarrow">
        <uses-library android:name="sechardware" />
        <activity android:label="@string/settings_label_launcher" android:name="Settings" android:launchMode="singleTask" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="com.android.settings.MANUFACTURER_APPLICATION_SETTING" />
            </intent-filter>
        </activity>
        <activity android:name=".SubSettings" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:label="@string/dock_settings_title" android:name="Settings$DockSettingsActivity" android:enabled="@bool/has_dock_settings" android:clearTaskOnLaunch="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.android.settings.DOCK_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.VOICE_LAUNCH" />
            </intent-filter>
            <meta-data android:name="com.android.settings.FRAGMENT_CLASS" android:value="com.android.settings.DockSettings" />
            <meta-data android:name="com.android.settings.TOP_LEVEL_HEADER_ID" android:resource="@id/dock_settings" />
        </activity>
        <activity android:label="@string/accessibility_settings" android:icon="@drawable/shortcut_accessibility" android:name="Settings$AccessibilitySettingsActivity" android:clearTaskOnLaunch="true" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.settings.ACCESSIBILITY_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.VOICE_LAUNCH" />
                <category android:name="com.android.settings.SHORTCUT" />
            </intent-filter>
            <meta-data android:name="com.android.settings.FRAGMENT_CLASS" android:value="com.android.settings.AccessibilitySettings" />
            <meta-data android:name="com.android.settings.TOP_LEVEL_HEADER_ID" android:resource="@id/accessibility_settings" />
        </activity>
        <activity android:label="@string/g_sensor_title" android:name="GSensorSettings" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:label="@string/a_sensor_title" android:name="ASensorSettings" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:label="@string/power_saving_mode_title" android:name="Settings$MenuPowerSavingModeSettingsActivity" android:clearTaskOnLaunch="true" android:launchMode="singleInstance" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="com.android.settings.FRAGMENT_CLASS" android:value="com.android.settings.powersavingmode.MenuPowerSavingModeSettings" />
            <meta-data android:name="com.android.settings.TOP_LEVEL_HEADER_ID" android:resource="@id/power_saving_mode" />
        </activity>
        <activity android:label="@string/power_saving_tips" android:name=".powersavingmode.PowerSavingModeTips" android:excludeFromRecents="true" android:configChanges="keyboardHidden|orientation" />
        <receiver android:name=".powersavingmode.PowerNotiReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.settings.ACTION_POWERSAVING" />
                <action android:name="android.settings.POWERSAVING_CHANGED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                <action android:name="android.settings.SYSTEMPOWERSAVING_CHANGED" />
                <action android:name="android.intent.action.POWER_SIOP_DISABLE" />
            </intent-filter>
        </receiver>
        <receiver android:label="@string/power_saving_mode_gadget_title" android:icon="@drawable/group_thumb_power" android:name=".powersavingmode.PowerSavingModeWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.conn.BACKGROUND_DATA_SETTING_CHANGED" />
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="android.location.PROVIDERS_CHANGED" />
                <action android:name="android.settings.BRIGHTNESS_CHANGED" />
                <action android:name="com.android.sync.SYNC_CONN_STATUS_CHANGED" />
                <action android:name="android.net.conn.BACKGROUND_DATA_SETTING_CHANGED_FROM_WIDGET" />
                <action android:name="android.settings.SCREENTIMEOUT_CHANGED" />
                <action android:name="android.intent.action.AIRPLANE_MODE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/powersavingmodewidget_info" />
        </receiver>
        <service android:name=".powersavingmode.PowerSavingModeWidgetBatteryService" />
        <activity android:label="@string/screen_mode_setting" android:name="ModePreview" android:screenOrientation="portrait" />
        <activity android:label="@string/tilt_title" android:name="Settings$TiltSettingsActivity" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="com.android.settings.FRAGMENT_CLASS" android:value="com.android.settings.motion.TiltSettings" />
            <meta-data android:name="com.android.settings.TOP_LEVEL_HEADER_ID" android:resource="@id/motion_settings" />
            <meta-data android:name="com.android.settings.PARENT_FRAGMENT_TITLE" android:resource="@string/motion_settings_title" />
            <meta-data android:name="com.android.settings.PARENT_FRAGMENT_CLASS" android:value="com.android.settings.Settings$MotionSettingsActivity" />
        </activity>
        <activity android:label="@string/pan_title" android:name="Settings$PanSettingsActivity" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="com.android.settings.FRAGMENT_CLASS" android:value="com.android.settings.motion.PanSettings" />
            <meta-data android:name="com.android.settings.TOP_LEVEL_HEADER_ID" android:resource="@id/motion_settings" />
            <meta-data android:name="com.android.settings.PARENT_FRAGMENT_TITLE" android:resource="@string/motion_settings_title" />
            <meta-data android:name="com.android.settings.PARENT_FRAGMENT_CLASS" android:value="com.android.settings.Settings$MotionSettingsActivity" />
        </activity>
        <activity android:label="@string/shake_title" android:name="Settings$ShakeSettingsActivity" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="com.android.settings.FRAGMENT_CLASS" android:value="com.android.settings.motion.ShakeSettings" />
            <meta-data android:name="com.android.settings.TOP_LEVEL_HEADER_ID" android:resource="@id/motion_settings" />
            <meta-data android:name="com.android.settings.PARENT_FRAGMENT_TITLE" android:resource="@string/motion_settings_title" />
            <meta-data android:name="com.android.settings.PARENT_FRAGMENT_CLASS" android:value="com.android.settings.Settings$MotionSettingsActivity" />
        </activity>
        <activity android:label="@string/pick_up_title" android:name="Settings$PickUpSettingsActivity" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="com.android.settings.FRAGMENT_CLASS" android:value="com.android.settings.motion.PickUpSettings" />
            <meta-data android:name="com.android.settings.TOP_LEVEL_HEADER_ID" android:resource="@id/motion_settings" />
            <meta-data android:name="com.android.settings.PARENT_FRAGMENT_TITLE" android:resource="@string/motion_settings_title" />
            <meta-data android:name="com.android.settings.PARENT_FRAGMENT_CLASS" android:value="com.android.settings.Settings$MotionSettingsActivity" />
        </activity>
    </application>
</manifest>
